body {
	font-family: "Press Start 2P", monospace;
  color: #33ff33;
  background-color: #242424;
}

h1 {
  font-size: 20px;
  margin: 30px 0;
}

h2 {
  font-size: 17px;
  margin-bottom: 30px;
}

#pill_check, .flex{
  position:fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/hands.jpg');
  background-size: contain;
  z-index: 1;
}

#blue-pill {
  display:none;
}

.character {
  display: none
}

#pick {
  display: none;
}

.neo {
  background-image: url(../img/neo.jpg);
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.trinity {
  background-image: url(../img/trinity.jpg);
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.morpheus {
  background-image: url(../img/morpheus.jpg);
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.smith {
  background-image: url(../img/smith.jpg);width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.oracle {
  background-image: url(../img/oracle.jpg);width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.architect {
  background-image: url(../img/architect.jpg);width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.tank {
  background-image: url(../img/tank.jpg);width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.switch {
  background-image: url(../img/switch.jpg);width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.lock {
  background-image: url(../img/lock.jpg);width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn {
  background-color: #242424;
  color: #33ff33; 
  border: #33ff33 1px solid;
}

.btn:hover {
  background-color: #33ff33;
  color: #242424; 
  border: #242424 1px solid;
}